html {
    scroll-behavior: smooth;
    height: 100%;
}

body {
    height: 100%;
    background-color: #F0F0F0;
}

/* page title */

.title {
    position: absolute;
    top: 15%;
    left: 15%;
}

/* top navigation bar*/

.navbar-brand {
    padding-left: 5%;
    font-size: 150%;
}

#navbar {
    background-color: #264653;
}

/* top title container*/

.top-box {
    height: auto;
    min-height: 5%;
    padding: 3%;
    padding-left: 10%;
    background: #cbdee7 url(https://www.tinygraphs.com/labs/isogrids/banner/gradient?bg=cbdee7&fg=96bdcf&h=300&xt=35&w=3000&gx1=0&gy1=350&gy2=3000&gx2=0);
    background-position-x: 0px;
    background-repeat: no-repeat;
}

/* bottom body container*/

.bottom-box {
    flex: 1;
    padding: 1% 13% 3% 13%;
}

/* bottom navigation bar*/

.nav {
    background-color: #FFF;
}

li.nav-item a {
    color: #2A9D8F;
    opacity: 0.5;
}

li.nav-item a.active {
    color: #264653;
    border-bottom: 3px solid #264653;
    opacity: 1.0;
}

.badge {
    background-color: #2A9D8F;
}

/* exercises box*/

.list-group a {
    padding: 3%;
    margin-bottom: 2%;
    border-radius: 0.3rem;
}

/*markdown required style*/

.markdown-body {
    box-sizing: border-box;
    min-width: 200px;
    max-width: 980px;
    margin: 0 auto;
    padding: 45px;
}

@media (max-width: 767px) {
    .markdown-body {
        padding: 15px;
    }
}
.readme {
    background-color: #FFF;
    padding: 2%;
}

/* forking button */
#start_btn{
    padding: 3% 25%;
}